.body-format {
  text-align:center;
  margin:0 auto;
  font-family: 'Open Sans', sans-serif;
}
.social-networks{
  font-size: 30px;
  margin-right: 290px;
}
.format-image-social-networks{
  font-size: 40px;
  margin-right: 420px;
}
.container {
  width: 75%;
  max-width: 400px;
}
.problems-or-change {
  line-height : 5px;
  font-weight: normal;
  color: #CB2400;
  font-size: 33px;
}
.speak-directly_share-order {
  line-height : 25px;
  font-weight: normal;
  font-size: 30px;
}
.phone-number {
  line-height : 5px;
  font-weight: normal;
  font-size: 53px;
}
.phone-image {
  width: 65px;
  height: 65px;
}
.social-networks-image {
  width: 80px;
  height: 80px;
}
.button-format{
  padding: 20px;
  font-size: 15px;
  background-color: #ECBA05;
  border-radius: 10px;
  line-height : 65px;
  color: inherit !important;
  text-decoration: white;
}
.track-your-order{
  padding-left: 125px;
  padding-right: 125px;
}
.you-have-doubts{
  padding-left: 85px;
  padding-right: 85px;
}
